<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="botToken" value="NzUwMDkxMjAyOTc5ODIzNzc4.X01e3g.8gHAN8jGDShIEPuyO-J4V5keSLA" />
		<!--All this stuff should be moved to a database somewhere so it isn't stored locally, and thus the conversion to a sharded public client is possible. Just ensure that these elements can be configured by moderators-->
		<add key="registeredGuild" value="468439690794631191" />
		<add key="parentCategoryID" value="830660711792771092" />
		<add key="waitingRoomVCID" value="832451852729319474" />
		<add key="memberRole" value="815276870685556757" />
		<add key="mutedRole" value="744746993846583358" />
	</appSettings>
</configuration>